#chartContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 5px;
    padding: 0 3px;
    box-sizing: border-box;
    height: auto;
    /* overflow-y: hidden; */
}
    
.chart-wrapper {
    width: 95%;
    height: 200px; 
    padding: 10px;

}

canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 5px rgba(0,0,0,0.23);
}

h4{
    font-size: 1.2em;
}


@media (max-width: 900px) {
    #chartContainer {
        grid-template-columns: 1fr; /* apenas 1 coluna no mobile */
    }
}
